{% load static %}
<html>
<link rel="stylesheet" href="{% static 'diary/cover.css' %}">
<title>Welcome To DearO</title>
<body>
    <div class="content">
        <h1 align="center"><span class="w">W</span>elcome To <span><span class="d">D</span>earO.</span></h1>
        <P align='center'>
            Your Daily <span class='diary'>Diary </span>Entry!!
            
        </P>
        <p align='center' class='p1'>
          Become A Diarist!! Join Now 
        </p>
    <div class='link' align='center'>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    </div>
</body>
</html>